---
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content="Arash Bakhtiari" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bakhtiari.org/" />
    <meta property="og:image" content="https://bakhtiari.org/assets/headshot.png" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
